<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-11
-->
<!DOCTYPE html>
<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>


  <h1>
  Enter your username & password below to proceed.
  </h1>
    <form action="/auth">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" name="sub1">
    </form>
     <br>
  </body>

</html>
