<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-11
-->

<!DOCTYPE html>
<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>

    <h1>TNPG: Elephant</h1>
    <h2>Roster: Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder</h2>
    <h3>    Hello {{ user }} !    </h3>
    <h4>Your Login Has Been Successful! \(^-^)/ </h4>

    <form action = "/logout">
      <input type = "submit" value = "Logout">
    </form>
    
  </body>

</html>
