/*
Team Hold (Winnie Huang, Madelyn Mao)
SoftDev
K18 -- Filler and Finery
2021-01-14
*/

body{
    background-color:#666666;
    font-family:Helvetica;
}
h1{
    background-color:#bebebe;
    color:white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
h2{
    color:black;
    font-weight:775;
}
h3{
    color:black;
    padding-left:30px;
    font-weight:750;
}
p{
    font-weight:500;
}
box{
    display:flex;
    background-color:#767676; 
    margin-top:-25px;
}
section0{
    flex:1;
}
section1{
    flex:5;
    padding-right:10px 
}
ul{
    list-style-type:none;
    padding:0px;
    margin-left:30px;
    font-weight:bold;
}
#link{
    color:#d5d6ca;
    background-color:transparent;
    text-decoration:none;
}

#copyright{
    background-color:#565656;
    color:#666666;
    text-align:right;
    margin-top:-37px;
    height:35px;
    padding-top:10px;
    padding-right:10px;
}